<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo List</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <div class="logout">
        <div><a href = "auth/Logout">LogOut</a></div>
    </div>
  </nav>
<div>
  <p class="Date"><%=Date%></p>
</div>
  <!-- <a href = "https://todolist-k6vf.onrender.com/Today">Tasks</a> -->
  <!-- <h2 class="date"><%= listTitle %></h2> -->
  <h2 class="taskhead">Tasks</h2>
  <div class="main">
    <div id="TaskContainer">
      <% newListItems.forEach(function(item){ %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
            <p><%= item.name %></p>
          </div>
          <input type="hidden" name="listName" value="<%= listTitle %>">
        </form>
      <% }) %>
    </div>
    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>
</body>
</html>
